beautifulsoup4==4.12.3
black==24.8.0
blinker==1.8.2
bs4==0.0.2
cachelib==0.9.0
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
dnspython==2.6.1
Flask==3.0.3
Flask-Caching==2.3.0
Flask-Cors==5.0.0
idna==3.10
isort==5.13.2
itsdangerous==2.2.0
Jinja2==3.1.4
Levenshtein==0.26.0
MarkupSafe==2.1.5
mypy-extensions==1.0.0
numpy==2.1.1
packaging==24.1
pandas==2.2.3
pathspec==0.12.1
platformdirs==4.3.6
python-dateutil==2.9.0.post0
python-Levenshtein==0.26.0
pytz==2024.2
RapidFuzz==3.10.0
requests==2.32.3
six==1.16.0
soupsieve==2.6
tzdata==2024.2
urllib3==2.2.3
Werkzeug==3.0.4
