beautifulsoup4==4.12.3
black==24.8.0
blinker==1.8.2
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
dnspython==2.6.1
Flask==3.0.3
Flask-Cors==5.0.0
idna==3.10
isort==5.13.2
python-Levenshtein==0.26.0
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
mypy-extensions==1.0.0
packaging==24.1
pathspec==0.12.1
platformdirs==4.3.6
requests==2.32.3
resolver==0.2.1
soupsieve==2.6
urllib3==2.2.3
Werkzeug==3.0.4
